@model IEnumerable<News>
@{
    ViewData["Title"] = "News Page";
}

<a  class="btn btn-primary btn-lg mt-3 mb-3" asp-controller="News" asp-action="CreateNews"> <i class="bi bi-plus-circle-dotted"></i> &nbsp; Add new News</a>


<table class="table table-hover">
    <thead>
        <th scope="col">NewsId</th>
        <th scope="col">Name</th>
        <th scope="col">Link</th>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr class="table-active">
                <td>@obj.NewsId</td>
                <td>@obj.Name</td>
                <td>@obj.Link</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Games" asp-action="Edit" asp-route-id="@obj.NewsId" class="btn btn-primary mx-2"> 
                            <i class="bi bi-pencil-fill"> </i> &nbsp; Edit</a>
                        <a asp-controller="Games" asp-action="Delete" asp-route-id="@obj.NewsId" class="btn btn-danger mx-2"> 
                            <i class="bi bi-trash-fill"></i> &nbsp; Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>